<p-toast></p-toast>

@if (!emailIsVerified) {

<app-forgot-password-email (emailVerified)="handleEmailVerified($event)" (email)="handleEmailEmit($event)">
</app-forgot-password-email>

} @else if (emailIsVerified && !otpIsVerified) {

<app-forgot-password-otp [email]="email" (otpVerified)="handleOtpVerified($event)" (otp)="handleOtpEmit($event)">
</app-forgot-password-otp>

} @else if (emailIsVerified && otpIsVerified && !passwordIsUpdated) {

<app-forgot-password-reset [email]="email" [otp]="otp" (passwordUpdated)="handlePasswordUpdated($event)">
</app-forgot-password-reset>

} @else {
<app-forgot-password-reset [email]="email" [otp]="otp" (passwordUpdated)="handlePasswordUpdated($event)">
</app-forgot-password-reset>
}