fastapi
uvicorn
starlette
bson
pydantic
requests
pymongo
mutagen
python-dotenv
werkzeug
google-generativeai
passlib
python-jose
motor
numpy
scikit-learn
together
pinecone-client
supabase
google-auth-oauthlib
