<div class="card flex justify-center">
  <p-toast />
</div>

<div class="flex flex-col gap-6">
  <div class="overflow-hidden rounded-lg border border-gray-200 bg-white shadow-sm">
    <div class="grid p-0 md:grid-cols-2">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="p-6 md:p-8">
        <div class="flex flex-col gap-6">
          <div class="flex flex-col items-center text-center">
            <h1 class="text-3xl font-bold text-black">Welcome back</h1>
            <p class="text-gray-500 text-xs">Login to your account</p>
          </div>

          <div class="grid gap-2">
            <label for="email" class="text-sm font-medium text-black">Email</label>
            <input id="email" type="email" formControlName="email" placeholder="Enter your Email Address" required
              class="flex h-10 w-full rounded-md border border-gray-200 bg-white px-3 py-2 text-sm ring-offset-white file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-gray-500 focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-gray-950 disabled:cursor-not-allowed disabled:opacity-50 text-black" />
          </div>

          <div class="grid gap-2">
            <div class="flex items-center text-black">
              <label for="password" class="text-sm font-medium">Password</label>
              <a href="#" class="ml-auto text-xs hover:underline underline-offset-2 text-gray-500">
                Forgot your password?
              </a>
            </div>

            <div class="relative">
              <input id="password" placeholder="Enter your Password" [type]="showPassword ? 'text' : 'password'"
                formControlName="password" required
                class="flex h-10 w-full rounded-md border border-gray-200 bg-white px-3 py-2 text-sm ring-offset-white file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-gray-500 focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-gray-950 disabled:cursor-not-allowed disabled:opacity-50 text-black" />
              <button type="button" (click)="togglePasswordVisibility()"
                class="absolute inset-y-0 right-0 flex items-center pr-3 text-gray-500 hover:text-gray-700">
                @if (showPassword) {
                <lucide-icon [name]="eyeOff" class="h-5 w-5 cursor-pointer"></lucide-icon>
                } @else {
                <lucide-icon [name]="eye" class="h-5 w-5 cursor-pointer"></lucide-icon>
                }
              </button>
            </div>
          </div>

          <button
            class="inline-flex items-center justify-center whitespace-nowrap rounded-md bg-gray-900 px-4 py-2 text-sm font-medium text-gray-50 shadow transition-colors hover:bg-gray-900/90 focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-gray-950 disabled:pointer-events-none disabled:opacity-50 w-full cursor-pointer"
            [disabled]="!loginForm.valid">
            @if (isLoading) {
            <p-progress-spinner strokeWidth="2" fill="transparent" animationDuration=".5s"
              [style]="{ width: '20px', height: '20px' }" />
            } @else {
            Login
            }
          </button>

          <div
            class="relative text-center text-sm after:absolute after:inset-0 after:top-1/2 after:z-0 after:flex after:items-center after:border-t after:border-gray-200">
            <span class="relative z-10 bg-white px-2 text-gray-500">Or continue with</span>
          </div>

          <div class="">

            <button type="button"
              class="inline-flex items-center justify-center whitespace-nowrap rounded-md border border-gray-200 bg-white px-4 py-2 text-sm font-medium shadow-sm transition-colors hover:bg-gray-100 hover:text-gray-900 focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-gray-950 disabled:pointer-events-none disabled:opacity-50 w-full cursor-pointer">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="h-5 w-5">
                <path
                  d="M12.48 10.92v3.28h7.84c-.24 1.84-.853 3.187-1.787 4.133-1.147 1.147-2.933 2.4-6.053 2.4-4.827 0-8.6-3.893-8.6-8.72s3.773-8.72 8.6-8.72c2.6 0 4.507 1.027 5.907 2.347l2.307-2.307C18.747 1.44 16.133 0 12.48 0 5.867 0 .307 5.387.307 12s5.56 12 12.173 12c3.573 0 6.267-1.173 8.373-3.36 2.16-2.16 2.84-5.213 2.84-7.667 0-.76-.053-1.467-.173-2.053H12.48z"
                  fill="black" />
              </svg>
              <span class="sr-only">Login with Google</span>
            </button>
          </div>

          <div class="text-center text-xs text-black">
            Don't have an account?
            <a href="/register" class="underline underline-offset-4 ml-1">
              Sign up
            </a>
          </div>
        </div>
      </form>

      <div class="relative hidden bg-gray-100 md:block">
        <img
          src="https://images.unsplash.com/photo-1683304554869-8a871c913096?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="Image" class="absolute inset-0 h-full w-full object-cover dark:brightness-[0.9]" />
      </div>
    </div>
  </div>

  <div class="text-balance text-center text-xs text-gray-500">
    By clicking continue, you agree to our <a href="#" class="underline underline-offset-4 hover:text-gray-900">Terms of
      Service</a> and <a href="#" class="underline underline-offset-4 hover:text-gray-900">Privacy Policy</a>.
  </div>
</div>